.header{
    padding-top: 5px;
    border-bottom-style: groove;
}

.bodyText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.constructionImage{
    width: 100%;
    height: auto;
}

.homeImage{
    width:75%;
    height: auto;
}